@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');


.movie-search{
    height: 50vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lightsaber{
    background-image: url("../../../public/lightsaber.png");
    background-repeat: no-repeat;
    background-color: #000;
    height: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.lightsaber form{
    margin-bottom: 50px;
    width: 55%;
    height: 50px;
}
.lightsaber form input{
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding-left: 30px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-color: rgb(255, 255, 255);    
}
.lightsaber h1{
    margin-bottom: 40px;
    color: white;
    font-family: 'Fascinate', cursive;
    letter-spacing: 4px;
}
.lightsaber button{
    background: rgb(255, 255, 255);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.button{
    padding: 10px;
    border: none;
}
.button svg{
    background: white;
}
.button:hover{
    background-color: white;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}